.font-size_xs {
  font-size: 18px;
}

.font-size_s {
  font-size: 24px;
}

.font-size_m {
  font-size: 36px;
}

.font-size_l {
  font-size: 60px;
}

.font-size_xl {
  font-size: 102px;
}

.font-size_xxl {
  font-size: 120px;
}