.element__position_absolute {
  position: absolute;
}

.bold-text {
  font-weight: 600;
}

.normal-text {
  font-weight: 400;
}

.margin-for-second-p {
  margin: 30px 0;
}

.font-size_xs {
  font-size: 18px;
}

.font-size_s {
  font-size: 24px;
}

.font-size_m {
  font-size: 36px;
}

.font-size_l {
  font-size: 60px;
}

.font-size_xl {
  font-size: 102px;
}

.font-size_xxl {
  font-size: 120px;
}

.link {
  color: #2f80ed;
  text-decoration: none;
}

.text-align_center {
  text-align: center;
}

.background-color_grey {
  background-color: #f2f2f2;
}

.flex_basis {
  flex-basis: 711px;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* styles for header */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.header__square-pic {
  height: 568px;
  width: 568px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.header__element_logo {
  margin-top: 30px;
  margin-left: 64px;
  width: 228px;
  height: 32px;
}

.logo_palce_header {
  width: 100%;
  height: auto;
  z-index: 3;
}

.header__element_title {
  margin: auto 0;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  z-index: 3;
}

.header__element_subtitle {
  left: 64px;
  bottom: 30px;
  width: 338px;
  line-height: 25px;
  font-weight: normal;
  z-index: 3;
}

.header__element_main-illustration {
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.main_illustration {
  width: 100%;
  height: auto;
}

.header__element_square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  z-index: 1;
  right: 0;
  top: 64px;
}

/*styles for description*/

.description {
  margin: 100px auto;
  width: 80%;
}

.description__two-columns {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.description__two-columns_element_brief {
  width: 175px;
  line-height: 1.2;
  color: #2f80ed;
}

.description__two-columns_element_main-text {
  width: 80%;
  min-width: 784px;
}

.description__two-columns_element_main-text_paragraph {
  line-height: 34px;
}

/*styles for digits section*/

.digits__title {
  margin: 100px auto 0 auto;
  width: 60%;
  line-height: 1.15;
}

.digits__subtitle {
  margin: 20px auto 0 auto;
  width: 60%;
  line-height: 34px;
}

.digits__table {
  display: flex;
  width: 1100px;
  margin: 0 auto 100px auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.digits__table_cell {
  width: 250px;
  margin-top: 60px;
}

.digits__table_cell_heading {
  line-height: 1.15;
}

.digits__table_cell_text {
  line-height: 1.2;
  margin-top: 20px;
}


.feynman {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 890px;
  position: relative;
  background-image : url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
  background-color: #f2f2f2
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  margin: 0;
  padding-top: 100px
}

.feynman__subtitle {
  margin-top: 70px;
  line-height: 51px;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  margin:0
}

/*styles for kaufman section*/

.kaufman {
  overflow: hidden;
  background-color: #1f1f1f;
  color: white;
  position: relative;
}

.kaufman__title {
  margin: 90px auto 0 auto;
  width: 60%;
}

.kaufman__subtitle {
  margin: 20px auto 0 auto;
  width: 60%;
}

.kaufman__table {
  display: flex;
  width: 1100px;
  margin: 0 auto 90px auto;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.kaufman__table_cell {
  width: 200px;
  margin-top: 80px;
}

.kaufman__table_cell_heading {
  line-height: 1.15;
}

.kaufman__table_cell_text {
  line-height: 1.2;
  margin-top: 20px;
}

.kaufman__image {
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 1;
}

/*styles for footer*/

.footer {
  justify-content: space-between;
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
  color: white;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin: 60px auto 40px auto;
  width: 90%;
}

.footer__columns_column {
  display: flex;
  flex-direction: column;
}

.column__content_copyright {
  justify-content: space-between;
}

.footer__columns_column_logo {
  width: 228px;
  height: 32px;
}

.footer__columns_column_author {
  margin: 18px 0;
  line-height: 25px;
}

.footer__column_links_link {
  display: block;
  color: white;
  margin-bottom: 5px;
}

.footer__column_heading {
  margin-bottom: 20px;
  line-height: 30px;
}

.footer__column_links_link_logo {
  margin-right: 10px;
}

.footer__column_links_link {
  line-height: 30px;
}