.feynman {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 890px;
  position: relative;
  background-image : url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
  background-color: #f2f2f2
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  margin: 0;
  padding-top: 100px
}

.feynman__subtitle {
  margin-top: 70px;
  line-height: 51px;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  margin:0
}

/*styles for kaufman section*/

.kaufman {
  overflow: hidden;
  background-color: #1f1f1f;
  color: white;
  position: relative;
}

.kaufman__title {
  margin: 90px auto 0 auto;
  width: 60%;
}

.kaufman__subtitle {
  margin: 20px auto 0 auto;
  width: 60%;
}

.kaufman__table {
  display: flex;
  width: 1100px;
  margin: 0 auto 90px auto;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.kaufman__table_cell {
  width: 200px;
  margin-top: 80px;
}

.kaufman__table_cell_heading {
  line-height: 1.15;
}

.kaufman__table_cell_text {
  line-height: 1.2;
  margin-top: 20px;
}

.kaufman__image {
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 1;
}

/*styles for footer*/

.footer {
  justify-content: space-between;
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
  color: white;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin: 60px auto 40px auto;
  width: 90%;
}

.footer__columns_column {
  display: flex;
  flex-direction: column;
}

.column__content_copyright {
  justify-content: space-between;
}

.footer__columns_column_logo {
  width: 228px;
  height: 32px;
}

.footer__columns_column_author {
  margin: 18px 0;
  line-height: 25px;
}

.footer__column_links_link {
  display: block;
  color: white;
  margin-bottom: 5px;
}

.footer__column_heading {
  margin-bottom: 20px;
  line-height: 30px;
}

.footer__column_links_link_logo {
  margin-right: 10px;
}

.footer__column_links_link {
  line-height: 30px;
}